<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Weapons</title>
</head>
<body>
    <h1>Welcome to the Weapons app!</h1>
    <p class="emoji">⚔️</p>
    <p>An app for adventurers to keep track of gear!</p>

    <a class="weapons-index-link" href="/weapons">Browse Weapons</a>
    
</body>
</html>