<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log a New Weapon</title>
</head>
<body>

    <h1>Log a New Weapon!</h1>
    <form action="/weapons" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />

        <label for="description">Description:</label>
        <input type="description" name="description" id="description" />

        <button type="submit">Add Weapon</button>
    </form>

</body>
</html>